@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color, #CFA257);
  --color-secondary: var(--secondary-color, #000000);
  --color-accent: var(--accent-color, #25D366);
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
